@use "/src/sass/pxtorem.scss" as r;

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOn {
  0% {
    transform: translateX(150%);
  }
  50% {
    transform: translateX(0%);
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
