@use "/src/sass/base/variables.scss" as v;
@use "/src/sass/pxtorem.scss" as r;

.header {
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    width: r.rem(100);
    height: r.rem(100);
  }
  &__icons {
    display: flex;
    align-items: flex-start;
    gap: r.rem(15);
    a {
      display: block;
      color: v.$dark;
      span {
        display: block;
        width: r.rem(20);
        height: r.rem(20);
      }
    }
  }
  &__nav {
    display: none;
  }
  &__menu {
    z-index: 100;
    padding: r.rem(50) r.rem(10);
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: v.$light;
    transition: transform 1s;
    opacity: 0.9;
    &_active {
      transform: translateX(100%);
      opacity: 1;
    }
    &-close {
      position: relative;
      width: r.rem(20);
      height: r.rem(20);
      span {
        position: absolute;
        display: block;
        width: r.rem(20);
        height: r.rem(1);
        background-color: v.$dark;
        &:nth-child(1) {
          transform: translateY(r.rem(8)) rotate(45deg);
        }
        &:nth-child(2) {
          transform: translateY(r.rem(8)) rotate(-45deg);
        }
      }
    }
    &-nav {
      margin-top: r.rem(50);
      padding-left: r.rem(14);
      ul {
        display: flex;
        flex-direction: column;
        row-gap: r.rem(25);
        padding: 0;
        list-style-type: none;
      }
    }
    &-link {
      font-weight: 400;
      font-size: r.rem(20);
      text-transform: uppercase;
      color: v.$dark;
      text-decoration: none;
    }
  }
}

.burger {
  display: flex;
  height: 23px;
  flex-direction: column;
  row-gap: r.rem(10);
  padding-right: r.rem(35);
  span {
    display: block;
    width: r.rem(20);
    height: r.rem(1);
    background-color: v.$dark;
  }
}

@media screen and (min-width: r.rem(768)) {
  .header {
    &__nav {
      display: block;
      margin-top: r.rem(20);
      ul {
        display: flex;
        justify-content: center;
        gap: r.rem(30);
        padding-left: 0;
        li {
          list-style-type: none;
        }
      }
    }
    &__link {
      font-weight: 400;
      font-size: r.rem(20);
      text-transform: uppercase;
      color: v.$dark;
      text-decoration: none;
    }
    &__menu {
      display: none;
    }
  }

  .burger {
    visibility: hidden;
  }
}

@media screen and (min-width: r.rem(1920)) {
  .header {
    &__logo {
      width: r.rem(150);
      height: r.rem(151);
    }
    &__nav {
      margin-top: r.rem(36);
      ul {
        gap: r.rem(60);
      }
    }
  }
}
