@use "/src/sass/base/variables.scss" as v;
@use "/src/sass/pxtorem.scss" as r;

.touch {
  position: relative;
  padding-top: r.rem(60);
  &__wrapper {
    margin-top: r.rem(60);
  }
  &__img {
    display: none;
  }
  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  &__label {
    display: block;
    font-weight: 400;
    font-size: r.rem(14);
    line-height: 200%;
    color: v.$dark;
    &:nth-child(2) {
      margin-top: r.rem(8);
    }
  }
  &__input {
    width: r.rem(340);
    border: r.rem(1) solid #e2e1e5;
    border-radius: r.rem(2);
    padding: r.rem(10) r.rem(15);
    height: r.rem(48);
    background: #fff;
    color: v.$dark;
    &:focus {
      border: none;
      outline: r.rem(1) solid v.$dark;
    }
    &::placeholder {
      color: v.$ui-disabled;
      font-size: r.rem(14);
    }
  }
  &__textarea {
    width: r.rem(340);
    border: r.rem(1) solid #e2e1e5;
    border-radius: r.rem(2);
    padding: r.rem(10) r.rem(15);
    height: r.rem(132);
    background: #fff;
    color: v.$dark;
    resize: none;
    &:focus {
      border: none;
      outline: r.rem(1) solid v.$dark;
    }
    &::placeholder {
      color: v.$ui-disabled;
      font-size: r.rem(14);
    }
  }
  &__check-block {
    display: flex;
    align-items: center;
    margin-top: r.rem(20);
    a {
      color: #a22dc6;
      text-decoration: none;
      margin-left: r.rem(2);
    }
  }
  &__checkbox {
    margin-right: r.rem(15);
    width: r.rem(15);
    height: r.rem(15);
  }
  &__btn {
    margin-top: r.rem(20);
  }
  &__decor {
    display: none;
  }
  .just-validate-error-field {
    border: none;
    outline: r.rem(1) solid v.$ui-error;
  }
}

@media screen and (min-width: r.rem(768)) {
  .touch {
    &__form {
      position: relative;
      padding-left: r.rem(24);
      width: r.rem(300);
    }
    &__decor {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

@media screen and (min-width: r.rem(1200)) {
  .touch {
    &__img {
      display: block;
      width: r.rem(550);
      height: r.rem(342);
      object-fit: cover;
      box-shadow: r.rem(5) r.rem(5) r.rem(10) 0 rgba(0, 0, 0, 0.25);
    }
    &__input {
      &:hover {
        border: none;
        outline: r.rem(1) solid v.$dark;
      }
    }
    &__form {
      padding-left: r.rem(20);
    }
    &__decor {
      animation: slideOn 3s;
    }
  }
}

@media screen and (min-width: r.rem(1920)) {
  .touch {
    padding-top: r.rem(100);
    &__img {
      height: r.rem(356);
    }
    &__form {
      width: auto;
      padding-left: r.rem(143);
    }
    &__fieldset {
      display: flex;
      column-gap: r.rem(45);
    }
    &__label,
    &__check-block,
    &__input,
    &__textarea {
      width: 300px;
    }
    &__decor {
      right: 75px;
    }
  }
}
